@model Corsa.Models.Moduls.ProjectModuleViewModel

<div class="modul-selector-item pb-4 col-lg-6 col-md-12" onclick='location.href="@Url.Action(Model.ViewDescriptor.CreateAction, Model.ViewDescriptor.Controller, new { Project = Model.Project.Id })"'>

    <div class= "crs-yandex-direct-toolbox card">
        <div class="card-body">
            <p class="crs-yandex-direct-toolbox__title project-module-identity card-title"> <i class="crs-yandex-direct-toolbox__icon fab fa-yandex-international"></i> @Model.ViewDescriptor.Name </p>
            <p class="crs-yandex-direct-toolbox__desc card-text">@Model.ViewDescriptor.Description</p>
        </div>
    </div>
</div>
